body{
    background-color: goldenrod;
}

#title, .subtitle, .post_title{
    color: purple;
}

.post_title{
    font-size: 16px;
    font-style: italic;
}

.post{
    background-color: whitesmoke;
    padding: 16px;
    border: 3px solid black;
    margin: 10px;
}