body{
    background-color: goldenrod;
}

#title, .subtitle, .post_title{
    color: purple;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: rgb(202, 185, 152);
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 20px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    }

.post_image{
    margin-bottom: 15px;
}

.photo{
    border-radius: 70px;
    border: 10px solid black;
}