body{
    background-color: goldenrod;
    font-family: Verdana;
    width: 900px;
    margin: auto;
    }

#title, .subtitle, .post_title{
    color: purple;
}

#title{
    font-family: Verdana;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

a{
    text-decoration: overline underline;

}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: rgb(202, 185, 152);
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 20px;
    }

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    }

.post_image{
    margin-bottom: 15px;
    width: 50%;
}

.photo{
    border-radius: 50px;
    border: 5px solid black;
    }

.contact_list{
    list-style-type: none;
    padding: 15px;
}

.contact_list li a{
    color: cornflowerblue;
    text-decoration: none;
}